@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px; }

.html {
  font-size: 10px;
  width: 100%; }

nav {
  display: flex;
  align-items: center; }
  nav .logoSportClub {
    width: 15rem;
    height: 3.2rem; }
  nav .nav-item {
    text-decoration: none;
    font-family: ANTON;
    font-size: 1.7rem;
    color: black;
    margin: 9px;
    margin-left: 75px;
    letter-spacing: 2px;
    color: #000000;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s; }
    nav .nav-item:hover {
      background-size: 100% 2px; }
    nav .nav-item a:focus {
      background-size: 100% 2px; }

.chatWhasapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999; }

/*FOOTER*/
.RedesSociales {
  margin-top: 40px;
  height: 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }
  .RedesSociales .ContenedorIconosRedes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .RedesSociales .ContenedorIconosRedes .icon {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 20px;
      border-radius: 50%;
      transition: all .8s;
      cursor: pointer; }
      .RedesSociales .ContenedorIconosRedes .icon i {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.7rem; }
      .RedesSociales .ContenedorIconosRedes .icon:hover {
        background-color: #d21071;
        box-shadow: 0 0 20px #d21071; }
      .RedesSociales .ContenedorIconosRedes .icon:hover:nth-child(2) {
        background-color: #1877f2;
        box-shadow: 0 0 20px #1877f2; }
      .RedesSociales .ContenedorIconosRedes .icon:hover:nth-child(3) {
        background-color: #06b848;
        box-shadow: 0 0 20px #06b848; }
      .RedesSociales .ContenedorIconosRedes .icon:hover:nth-child(4) {
        background-color: #1da1f2;
        box-shadow: 0 0 20px #1da1f2; }
      .RedesSociales .ContenedorIconosRedes .icon:hover circle {
        stroke-dasharray: 220; }
      .RedesSociales .ContenedorIconosRedes .icon svg circle {
        stroke-dasharray: 150;
        transition: all .8s ease-in-out; }

.derechos {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  padding-bottom: 30px; }

/*SEPARADOR BLANCO*/
main .SeparadorHeaderMain {
  height: 15px; }

/*QUE OFRECEMOS*/
.QueOfrecemos {
  background-color: #121515;
  padding-bottom: 2rem; }
  .QueOfrecemos img {
    width: 70%;
    padding-top: 10%;
    margin-left: 15%; }
  .QueOfrecemos div H1 {
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center;
    font-size: 260%;
    color: white; }
  .QueOfrecemos .TituloYParrafos {
    padding-top: 6rem; }
  .QueOfrecemos .parrafos {
    font-family: poppins;
    font-size: 1.5rem;
    color: white; }

/*ACTIVIDADES*/
.actividadesContenedor h3 {
  font-size: 2.5rem;
  font-family: anton;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 1%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.2%;
  text-align: center;
  padding-top: 1.5%; }

.actividadesContenedor .TipoDeActividades div {
  padding: 1rem !important; }

.actividadesContenedor .TipoDeActividades p {
  font-family: poppins;
  font-size: 1.2rem;
  text-align: center;
  transition: transform 3s;
  margin-bottom: 5%;
  background-color: #F8C216;
  border-radius: 10px; }

.actividadesContenedor .TipoDeActividades img {
  box-shadow: 1px 2px 4px #363532;
  transition: transform 0.5s; }
  .actividadesContenedor .TipoDeActividades img:hover {
    transform: scale(1.1, 1.1); }

/*PLANES*/
.planes img {
  width: 100%; }

/*NUESTROS VALORES*/
.valoresContenedor .NuestrosValoresTitulo {
  font-size: 2.5rem;
  font-family: anton;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 1%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.2%;
  text-align: center;
  padding: 30px; }

.valoresContenedor .valores ul {
  font-family: poppins;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  padding-right: 2rem;
  background-color: #F8C216;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem; }

.valoresContenedor .listadoDeAcciones {
  font-family: poppins;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 4rem; }

/*VIDEO DE SPORTCLUB*/
.VideoDeSportClub {
  background-color: black;
  overflow: hidden;
  padding-bottom: 100vh;
  position: relative;
  height: 0; }
  .VideoDeSportClub iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

/*COACHES DE SPORTCLUB*/
.coaches H3 {
  font-size: 2.5rem;
  font-family: anton;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 1%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.2%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px; }

.coaches .CoachesFotosYNombres {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding-bottom: 30px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  .coaches .CoachesFotosYNombres p {
    font-family: poppins;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 14%; }
  .coaches .CoachesFotosYNombres img {
    box-shadow: 1px 2px 4px #363532;
    border-radius: 50%;
    margin-left: 14%;
    transition: transform 0.5s, background-color 2s; }
    .coaches .CoachesFotosYNombres img:hover {
      transform: scale(1.1, 1.1);
      background-color: rgba(0, 0, 0, 0.441) cover; }

/*VERSIÓN MOBILE*/
@media screen and (max-width: 768px) {
  .actividadesContenedor {
    margin-left: 10%; } }

/*HEADER PLANES*/
.HeaderPlanes {
  width: 100%;
  height: 15%; }

/*MAIN PLANES*/
.fondosPlanes {
  font-size: 2.5rem;
  font-family: anton;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 1%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.2%;
  text-align: center;
  background-color: #F8C216;
  transition: transform 0.5s; }
  .fondosPlanes:hover {
    transform: scale(1.1, 1.1); }

.textoplanes {
  font-family: poppins;
  font-size: 1.3rem;
  margin-left: 20%;
  margin-top: 10%; }

#imgagenesPlanes {
  width: 19rem;
  height: 13rem;
  margin-left: 20%;
  margin-bottom: 5%; }

.textooutdoor {
  font-family: poppins;
  font-size: 1.3rem;
  margin-top: 1.5%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 5%; }

@media screen and (max-width: 760px) {
  .textoplanes {
    margin-top: 0%;
    margin-bottom: 3%; } }

/*VIDEO HEADER*/
header {
  position: relative; }
  header H1 {
    position: absolute;
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center;
    font-size: 100px;
    color: #F8C216;
    top: 41%;
    left: 17%; }

.horarios {
  padding-bottom: 2%; }
  .horarios .ContainerTable H3 {
    font-family: poppins;
    font-size: 1.5rem;
    padding: 20px;
    padding-top: 10px;
    text-align: center; }
  .horarios table {
    background-color: #F8C216;
    width: 95%;
    margin-left: 3%;
    box-shadow: 1px 2px 4px #363532; }
  .horarios h2 {
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center; }
  .horarios .horarios th {
    font-family: poppins;
    font-size: 1.3rem;
    padding-top: 15px;
    width: 135px;
    border-bottom: solid 5px #775d08; }
  .horarios .horarios td {
    font-family: poppins;
    font-size: 1.3rem;
    padding-top: 15px; }

@media screen and (max-width: 760px) {
  .horarios {
    padding-right: 15%; }
    .horarios .ContainerTable {
      margin-left: 25%; }
    .horarios .horarios h2 {
      margin-left: 25%; }
    .horarios table {
      padding: 5%; }
      .horarios table caption {
        font-size: 25px; }
      .horarios table thead {
        display: none; }
      .horarios table th {
        font-size: 17px; }
      .horarios table td {
        display: block;
        text-align: right;
        font-size: 17px; }
        .horarios table td:before {
          content: attr(data-label);
          font-weight: bold;
          text-transform: uppercase;
          float: left; } }

/*SEDES NUEVAS*/
.NuevasSedes h2 {
  font-size: 2.5rem;
  font-family: anton;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 1%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.2%;
  text-align: center; }

.NuevasSedes .Almagro H3 {
  font-family: poppins;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

.NuevasSedes .Almagro p {
  font-family: poppins;
  font-size: 1.2rem; }

.NuevasSedes .Hurlingan H3 {
  font-family: poppins;
  font-size: 1.5rem;
  font-weight: bold; }

.NuevasSedes p {
  font-family: poppins;
  font-size: 1.2rem; }

/*DEMÁS SEDES*/
.demasSedes ul {
  border-style: unset;
  margin-left: 5% !important;
  border-radius: 15px;
  margin-bottom: 2%;
  background-color: #F8C216;
  text-align: center;
  font-family: poppins;
  font-size: 1.2rem;
  transition: transform 0.5s; }
  .demasSedes ul:hover {
    transform: scale(1.1, 1.1); }

.parallax1, .parallax2, .parallax3 {
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/1552245/pexels-photo-1552245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); }
  .parallax1 H3, .parallax2 H3, .parallax3 H3 {
    padding-top: 7%;
    margin-left: 10%;
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center;
    font-size: 450%;
    color: #F8C216; }

.parallax2 {
  background-image: url("https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); }
  .parallax2 H3 {
    padding-top: 7%;
    margin-left: 10%;
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center;
    font-size: 450%;
    color: #F8C216; }

.parallax3 {
  background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); }
  .parallax3 H3 {
    padding-top: 7%;
    margin-left: 10%;
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center;
    font-size: 450%;
    color: #F8C216; }

.DetalleSedes ul {
  margin-top: 1%;
  margin-bottom: 1%; }
  .DetalleSedes ul h3 {
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: bold; }
  .DetalleSedes ul p a {
    background-color: #F8C216;
    text-decoration: none;
    color: #050505;
    font-weight: bold;
    text-decoration: underline;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; }
    .DetalleSedes ul p a:hover {
      color: #ffffff;
      background-color: #000000;
      text-decoration: none; }

@media screen and (max-width: 760px) {
  header H1 {
    font-size: 300%; } }

/*MARATON*/
.titulomaraton {
  margin-top: 2%;
  font-size: 2.5rem;
  font-family: anton;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 1%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.2%;
  text-align: center; }

.textomaraton {
  font-family: poppins;
  font-size: 1.3rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center; }

.contenedormaraton {
  margin-left: 0%; }
  .contenedormaraton .imagenmaraton {
    height: 90%;
    width: 100%; }
  .contenedormaraton .mapamaraton {
    width: 100%; }

/*DIA DEL NIÑO*/
.FondoDiaDelNiño {
  background-color: #F8C216; }
  .FondoDiaDelNiño .tituloDiaDelNiño {
    font-size: 2.5rem;
    font-family: anton;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    color: #000000;
    margin-bottom: 1.2%;
    text-align: center;
    padding-top: 3%; }
  .FondoDiaDelNiño .parrafoDiaDelNiño {
    font-family: poppins;
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center; }
  .FondoDiaDelNiño .GaleriaEventos {
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    grid-template-areas: 'img1 img2 img3 img3' 'img1 img4 img3 img3' 'img5 img5 img7 img7' 'img5 img5 img6 img8';
    gap: 0.8em; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g1 {
      grid-area: img1; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g2 {
      grid-area: img2; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g3 {
      grid-area: img3; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g4 {
      grid-area: img4; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g5 {
      grid-area: img5; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g6 {
      grid-area: img6; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g7 {
      grid-area: img7; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes--g8 {
      grid-area: img8; }
    .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes {
      position: relative;
      cursor: pointer;
      overflow: hidden; }
      .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffea00a6;
        transform: scaleY(0);
        transition: transform .4s;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem; }
      .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes:hover::before {
        transform: scaleY(1); }
      .FondoDiaDelNiño .GaleriaEventos .galeria_imagenes .galeria_img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'img1 img2' 'img1 img3' 'img1 img3' 'img4 img5' 'img4 img5' 'img4 img5' 'img7 img6' 'img7 img8'; }
  .galeria_imagenes::before {
    font-size: 1rem; } }

.formulario {
  width: 100%;
  height: 100%;
  padding: 1.2rem 5rem; }
  .formulario .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.184);
    outline: none;
    background-color: #ecdd85;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 5%;
    transition: all 0.3s ease-in-out; }
    .formulario .fieldhover {
      background-color: rgba(0, 0, 0, 0.1); }
    .formulario .field:focus {
      border: 2px solid #8d6d05;
      background-color: #fff; }
  .formulario #btn1, .formulario #btn2 {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #090909;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .formulario #btn1:hover, .formulario #btn2:hover {
      background-color: #f82516; }
  .formulario #btn2 {
    margin-top: 2%; }
    .formulario #btn2:hover {
      background-color: #f82516; }
  .formulario .contact-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #F8C216;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    padding: 2rem; }
    .formulario .contact-box .tituloFormulario {
      width: 90%;
      height: 150VH;
      background-image: url(https://images.pexels.com/photos/4752861/pexels-photo-4752861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); }
      .formulario .contact-box .tituloFormulario H2 {
        font-size: 2.5rem;
        font-family: anton;
        letter-spacing: 2px;
        font-style: italic;
        margin-top: 1%;
        text-align: center;
        color: #000000;
        margin-bottom: 1.2%;
        text-align: center;
        color: #F8C216;
        font-size: 4rem;
        margin-top: 50%; }
    .formulario .contact-box .textoFormulario {
      font-family: poppins;
      font-size: 1.3rem; }
    .formulario .contact-box .MotivoContacto {
      font-family: poppins;
      font-size: 1.3rem;
      padding: 0.2rem; }
    .formulario .contact-box .subtitulos {
      font-family: poppins;
      font-size: 1.7rem;
      font-weight: bold;
      padding-left: 0% !important; }
    .formulario .contact-box .subtitulos1 {
      font-family: poppins;
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 10%; }

@media screen and (max-width: 880px) {
  .formulario {
    padding: 0%; }
    .formulario .contact-box {
      grid-template-columns: auto;
      margin-top: 2%; }
      .formulario .contact-box .tituloFormulario {
        width: 0%;
        height: 15VH; }
        .formulario .contact-box .tituloFormulario H2 {
          font-size: 2.5rem;
          font-family: anton;
          letter-spacing: 2px;
          font-style: italic;
          margin-top: 1%;
          text-align: center;
          color: #000000;
          margin-bottom: 1.2%;
          text-align: center;
          font-size: 3.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem; } }
