@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


                            /*APLICABLE PARA TODAS LAS PÁGINAS*/
*{
    margin: 0px;
    padding: 0px;}

.html {
    font-size: 10px;
    width:100%;}
                 
    
/*LOGO Y LINKS INTERNOS*/
nav{
    display: flex;
    align-items: center;}

.logoSportClub{
    width:15rem;
    height:3.2rem;}

.logoSportClub1{
    width:17rem;
    height:3.5rem;}

.nav-item{
    text-decoration: none;
    font-family: ANTON;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    margin: 9px;
    margin-left: 75px;
    letter-spacing: 2px; 
    color: #000000;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;}

.nav-item:hover, a:focus {
    background-size: 100% 2px;}

.nav-item1{
    text-decoration: none;
    font-family: ANTON;
    font-size: 1.9rem;
    color: rgb(0, 0, 0);
    margin: 11px;
    margin-left: 85px;
    letter-spacing: 2px; 
    color: #000000;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;}

.nav-item1:hover, a:focus {
    background-size: 100% 2px;}


/*CHAT DE WHATSAPP*/
.chatWhasapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;}


/*FOOTER*/
.RedesSociales {
    margin-top: 40px;
    height: 20vh;
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing:  border-box;}

.ContenedorIconosRedes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;}

.icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;}

.icon:hover {
    background-color: #d21071;
    box-shadow:  0 0 20px #d21071;}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;}

.icon:hover:nth-child(3) {
    background-color: #06b848;
    box-shadow: 0 0 20px #06b848;}

.icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;}

.icon i {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;}

.icon:hover circle {
    stroke-dasharray: 220;}

.derechos{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 30px;}



                                /*INICIO PÁGINA INICIO*/

/*HEADER*/
.HeaderInicio{
    width:100%;}


/*QUE OFRECEMOS*/
.QueOfrecemos{
    background-color: #121515;
    padding-bottom: 2rem;}

.QueOfrecemos img{
    width:70%;
    margin-left: 3rem;
    padding-top: 2rem;}

.QueOfrecemos div H1{
    font-style:italic;
    font-size:260%;
    font-family: Anton;
    color: aliceblue;
    letter-spacing: 2px;
    text-align: center;}

.parrafos{
    font-family: poppins;
    font-size: 140%;
    color: aliceblue;
    padding-right: 3.5rem; 
    padding-left: 4rem;}

.TituloYParrafos {
    padding-top: 6rem;}

/*ACTIVIDADES*/
.actividadesContenedor h3{
    font-family: anton;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 2.7rem;
    letter-spacing: 2px;
    font-style:italic;
    text-align: center;}

.TipoDeActividades div{
    padding: 1rem !important;}

.TipoDeActividades p{
    font-family: poppins;
    font-size: 20px;
    text-align: center;
    transition: transform 3s;
    margin-bottom: 1.5rem;
    background-color: #F8C216;
    border-radius: 10px;}

.TipoDeActividades img{
    box-shadow: 1px 2px 4px#363532;
    transition: transform 0.5s;}

.TipoDeActividades img:hover{
    transform:scale(1.1,1.1);}

/*PLANES*/
.planes img{
    width:100%}

@media screen and (max-width: 768px) {
    .planes img{
        width: 100%;
        }}

/*NUESTROS VALORES*/
.NuestrosValoresTitulo{
    font-size:2.7rem;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    padding: 30px;}

.valores ul{
    font-family: poppins;
    font-weight: NORMAL;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-right: 2rem;
    letter-spacing: 2px;
    background-color: #F8C216;
    border-radius: 10px;}

.listadoDeAcciones{
    font-family:poppins;
    font-size:1.4rem;
    padding:30px;
    padding-left: 10%;
    padding-top: 15px;}

/*VIDEO DE SPORTCLUB*/
.VideoDeSportClub{
    background-color: black;
    overflow:hidden;
    padding-bottom:100vh;
    position:relative;
    height:0;}

.VideoDeSportClub iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;}

/*COACHES DE SPORTCLUB*/
.CoachesFotosYNombres{
    display: flex;
    flex-direction: row;
    overflow:auto;
    padding-bottom: 30px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;}

.coaches H3{
    font-size:2.7rem;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 20px;}

.CoachesFotosYNombres p{
    font-family:poppins;
    font-size:1.2rem;
    text-align: center;
    margin-left: 1.7rem;
    margin-left: 1.7rem;}

.CoachesFotosYNombres img{
    box-shadow:1px 2px 4px#363532;
    border-radius:50%;
    margin-left: 1.7rem;
    margin-left: 1.7rem;}

.CoachesFotosYNombres ul img{
    transition: transform 0.5s, background-color 2s}
    
.CoachesFotosYNombres ul img:hover{
    transform: scale(1.1,1.1);
    background-color: rgba(0, 0, 0, 0.441) cover;}


                                /*INICIO PÁGINA SEDES*/

/*VIDEO HEADER*/
header{
    position: relative;}
    
header H1{
    position: absolute;
    font-style:italic;
    font-size:550%;
    font-family: Anton;
    color:#F8C216;
    letter-spacing: 2px;
    top: 41%;
    left: 17%;}

/*HORARIOS DE LOS GIMNASIOS*/
.horarios{
    padding-bottom: 1%;}

.ContainerTable H3{
    font-family:poppins;
    font-size:25px;
    padding:20px;
    padding-top: 10px;
    color: rgb(0,0,0);
    text-align: center;}

.horarios h2{
    font-size:40px;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);}

.horarios table{
    background-color: #F8C216;
    width: 95%;
    margin-left:2.5%;
    box-shadow: 1px 2px 4px#363532;}

.horarios th{
    font-family:poppins;
    font-size:20px;
    padding-top: 15px;
    width:135px;
    border-bottom: solid 5px #775d08;}

.horarios td{
    font-family:poppins;
    font-size:15px;
    padding-top: 15px;}

@media screen and (max-width: 760px) {
.horarios{
    padding-right: 15%;;
}
.ContainerTable{
    margin-left: 25%;}

.horarios h2{
    margin-left: 25%;}

.table{
    padding: 5%;}

.table caption{
    font-size: 25px;}

.table thead {
    display: none;}
    
.table th, .table td{
    font-size: 17px;}

.table td{
    display: block;
    text-align: right;}

.table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;}

}

/*SEDES NUEVAS*/
.NuevasSedes h2{
    font-size:40px;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    padding: 2%;  
    color: rgb(0, 0, 0);}

.Almagro H3{
    font-family: poppins;
    font-size: 17px;
    font-weight: bold;
    text-align: center;}

.Almagro p{
    font-family: poppins;
    font-size: 17px;}

.Hurlingan H3{
    font-family: poppins;
    font-size: 17px;
    font-weight: bold;}

.Hurlingan p{
    font-family: poppins;
    font-size: 17px;}

/*DEMÁS SEDES*/
.parallax1{
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1552245/pexels-photo-1552245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");}

.parallax1 H3{
    padding-top:7%;
    margin-left: 40%;
    font-style:italic;
    font-size:450%;
    font-family: Anton;
    color:#F8C216;
    letter-spacing: 2px;}

.parallax2{
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");}

.parallax2 H3{
    padding-top:7%;
    margin-left: 40%;
    font-style:italic;
    font-size:450%;
    font-family: Anton;
    color:#F8C216;
    letter-spacing: 2px;}

.parallax3{
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");}

.parallax3 H3{
    padding-top:7%;
    margin-left: 40%;
    font-style:italic;
    font-size:450%;
    font-family: Anton;
    color:#F8C216;
    letter-spacing: 2px;}

.demasSedes ul{
    border-style: unset;
    margin-left: 5% !important ;
    border-radius: 15px;
    margin-bottom: 2%;
    background-color: #F8C216;
    text-align: center;
    font-family: poppins;
    font-size: 17px;
    transition: transform 0.5s; }

.demasSedes ul:hover{
    transform:scale(1.1,1.1);}

.DetalleSedes ul{
    margin-top: 1%;
    margin-bottom: 1%;}

.DetalleSedes ul h3{
    font-family:poppins;
    font-size:25px;
    font-weight: bold;}

.DetalleSedes ul p a{
    background-color: #F8C216;
    text-decoration: none;
    color: #050505;
    font-weight: bold;
    text-decoration: underline;}

.GoogleMaps{
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;}

.GoogleMaps:hover{
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;}


                        
                                    /*FIN PÁGINA SEDES*/

                                    /*INICIO PÁGINA EVENTOS*/

.titulomaraton{
    font-size:3rem;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    text-align:center;
    color:#000000;
    margin-top: 3rem;}

.eventosimagen{
    width: 100%;
    height: 95vh;
}
.textomaraton{
    font-family: poppins;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;}

.imagenmaraton{
    height:90%;
    width: 100%;}

.contenedormaraton{
    margin-left: 15%;}

.FondoDiaDelNiño{
    background-color:#F8C216;}

.tituloDiaDelNiño{
    font-size:3rem;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    text-align:center;
    color:#000000;
    padding-top: 3%;}

.parrafoDiaDelNiño{
    font-family: poppins;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #000000;
    text-align: center;}

.GaleriaEventos{
    padding-bottom : 3em;
    padding-top: 1em;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    /*las filas automaticas van a ser de 160 pixeles*/
    grid-auto-rows: 160px;
    grid-template-areas: 
    'img1 img2 img3 img3'
    'img1 img4 img3 img3'
    'img5 img5 img7 img7'
    'img5 img5 img6 img8';
    gap : 0.8em;}

.galeria_imagenes{
    position:relative;
    cursor:pointer;
    overflow: hidden;}

.galeria_imagenes::before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#ffea00a6;
    transform: scaleY(0);
    transition: transform .4s;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center ;
    font-size:1.5rem ;}

.galeria_imagenes:hover::before{
     transform: scaleY(1);}

.galeria_imagenes--g1{
    grid-area: img1;}

.galeria_imagenes--g2{
    grid-area: img2;}

.galeria_imagenes--g3{
    grid-area: img3;}

.galeria_imagenes--g4{
    grid-area: img4;}

.galeria_imagenes--g5{
    grid-area: img5;}

.galeria_imagenes--g6{
    grid-area: img6;}

.galeria_imagenes--g7{
    grid-area: img7;}

.galeria_imagenes--g8{
    grid-area: img8;}

.galeria_img{
    width: 100%;
    height: 100%;
    object-fit: cover;}

@media(max-width:768px){

.galeria{
    grid-template-columns: repeat(2 , 1fr);
    grid-template-areas:
    'img1 img2'
    'img1 img3'
    'img1 img3'
    'img4 img5'
    'img4 img5'
    'img4 img5'
    'img7 img6'
    'img7 img8';}

.galeria_imagenes::before{
    font-size: 1rem;}

.navegacion{
    display: none;}}

 /*WHATSAPP*/   
@media screen and (max-width: 768px){
.chatWhasapp{
    visibility: hidden;}}

 /*TÍTULO SEDES*/  
@media screen and (max-width: 1000px) {
header H1{
    font-size: 400%;}}

@media screen and (max-width: 760px) {
    header H1{
        font-size: 300%;}}

@media screen and (max-width: 500px) {
    header H1{
        font-size: 250%;}}
        
@media screen and (max-width: 412px) {
    header H1{
        font-size: 220%;}}

                                    /*FIN PÁGINA EVENTOS/

                                    /*INICIO PÁGINA CONTACTO*/

.tituloFormulario H2{
    font-size:4rem;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    text-align:center;
    color:#F8C216;
    margin-top: 17rem;}

.tituloFormulario{
    width: 90%;
    height: 150VH;
    background-image: url(https://images.pexels.com/photos/4752861/pexels-photo-4752861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);}

.formulario{
    height: 100vh;
    width: 100%;
    width: 100%;
    height: 100%;  
    padding: 1.2rem 5rem;}

.textoFormulario{
    font-family: poppins;
    font-size: 1.3rem;}

.MotivoContacto{
    font-family: poppins;
    font-size: 1.3rem;
    padding: 0.2rem;}

.subtitulos{
    font-family: poppins;
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 0% !important;}

.subtitulos1{
    font-family: poppins;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 0.7rem;}

.contact-box{
    max-width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #F8C216;
    box-shadow: 0px 0px 19px 5px rgba( 0, 0, 0, 0.19 );
    padding: 2rem;}

.field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.184);
    outline:none;
    background-color: #ecdd85;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: all 0.3s ease-in-out;
}
.field:hover{
    background-color: rgba(0,0,0,0.1);}

.field:focus{
    border: 2px solid #8d6d05;
    background-color: #fff;}

#btn1{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #090909;
    color: #fff ;
    font-size: 1.1rem;
    border: none;
    outline:none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;}

#btn2{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #090909;
    color: #fff ;
    font-size: 1.1rem;
    border: none;
    outline:none;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;}

#btn1:hover{
    background-color: #f82516;}

#btn2:hover{
    background-color: #f82516;}

@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns: auto;
        margin-top: 2%;}

    .tituloFormulario{
        width: 0%;
        height: 15VH;}

    .tituloFormulario H2{
        font-size:4rem;
        font-family:anton;
        letter-spacing: 2px;
        font-style:italic;
        text-align:center;
        color:#000000;
        margin-top: 1rem;
        margin-bottom: 1rem;}
    
    .formulario{
        padding: 0%;
    }}

                                    /*FIN PÁGINA CONTACTO/

                                    /*INICIO PÁGINA PLANES*/

.HeaderPlanes{
    width: 100%;
    height:15%}

#imgagenesPlanes{
    width:20rem;
    height: 13rem;
    margin-left: 15%;
    margin-bottom: 5%;}

.fondosPlanes{
    font-size:2.5rem;
    font-family:anton;
    letter-spacing: 2px;
    font-style:italic;
    margin-top: 1%;
    text-align:center;
    color:#000000;
    margin-bottom: 1.2rem;
    background-color: #F8C216;
    transition: transform 0.5s; }

.fondosPlanes:hover{
    transform:scale(1.1,1.1);}

.textoplanes{
    font-family: poppins;
    font-size: 1.3rem;
    margin-left: 20%;
    margin-top: 10%;}

.textooutdoor{
    font-family: poppins;
    font-size: 1.3rem;
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 5%;}

@media screen and (max-width: 760px) {
    .textoplanes{margin-top: 0%;
    margin-bottom: 3%;}

    
}






