/*VIDEO HEADER*/
header{
    position: relative;
        H1{
        position: absolute;
        @include diseño-titulos;
        font-size: 100px;
        color: $fondo-amarillo;
        top: 41%;
        left: 17%;}}

.horarios{
    padding-bottom: ($margen-bottom)+1;
    .ContainerTable H3{
        @include estilos-sedes;
        padding:20px;
        padding-top: 10px;
        text-align: center;}
    table{
        background-color: $fondo-amarillo;
        width: 95%;
        margin-left:map-get($map: $posicionamiento, $key:margen-left)-17;
        box-shadow: 1px 2px 4px#363532;}
    h2{
        @include diseño-titulos;}
    .horarios th{
        @include estilos-parrafos;
        padding-top: 15px;
        width:135px;
        border-bottom: solid 5px #775d08;}
    .horarios td{
        @include estilos-parrafos;
        padding-top: 15px;}}

@media screen and (max-width: 760px) {
    .horarios{
        padding-right: 15%;
        .ContainerTable{
            margin-left:map-get($map: $posicionamiento, $key:margen-left)+5;}
        .horarios h2{
            margin-left: map-get($map: $posicionamiento, $key:margen-left)+5;}
        table{
            padding: 5%;
            caption{
                font-size: 25px;}
            thead {
                display: none;}
            th{
                font-size: 17px;}
            td{
                display: block;
                text-align: right;
                font-size: 17px;
                &:before {
                    content: attr(data-label);
                    font-weight: bold;
                    text-transform: uppercase;
                    float: left;}}}}
            
                }          
/*SEDES NUEVAS*/
.NuevasSedes{ 
    h2{
        @include diseño-titulos;}
    .Almagro{ 
        H3{
            @include estilos-sedes;
            font-weight: bold;
            text-align: center;}
        p{
            @include estilos-letra-chica;}}

    .Hurlingan 
        H3{
            @include estilos-sedes;
            font-weight: bold;}

        p{
            @include estilos-letra-chica;}}

/*DEMÁS SEDES*/

.demasSedes ul{
    border-style: unset;
    margin-left: map-get($map: $posicionamiento, $key:margen-left)-15 !important ;
    border-radius: 15px;
    margin-bottom: map-get($map: $posicionamiento, $key:margen-bottom)-3;
    background-color: $fondo-amarillo;;
    text-align: center;
    @include estilos-letra-chica;
    transition: transform 0.5s; 
    &:hover{
            transform:scale(1.1,1.1);}}

.parallax1{
    background-size: cover;
    width: $ancho-imagenes;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1552245/pexels-photo-1552245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    H3{
        padding-top:7%;
        margin-left: map-get($map: $posicionamiento, $key:margen-left)-10;
        @include diseño-titulos;
        font-size: 450%;
        color:$fondo-amarillo;
        }}

.parallax2{
    @extend .parallax1;
    background-image: url("https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    H3{
        padding-top:7%;
        margin-left: map-get($map: $posicionamiento, $key:margen-left)-10;
        @include diseño-titulos;
        font-size: 450%;
        color:$fondo-amarillo;}}

.parallax3{
    @extend .parallax1;
    background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    H3{
        padding-top:7%;
        margin-left: map-get($map: $posicionamiento, $key:margen-left)-10;
        @include diseño-titulos;
        font-size: 450%;
        color:$fondo-amarillo;}}


.DetalleSedes ul{
    margin-top: 1%;
    margin-bottom: 1%;
    h3{
        @include estilos-sedes;
        font-weight: bold;}
    p a{
        background-color: $fondo-amarillo;
        text-decoration: none;
        color: #050505;
        font-weight: bold;
        text-decoration: underline;
        padding: 0 0.25rem;
        margin: 0 -0.25rem;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        &:hover{
            color: #ffffff;
            background-color: #000000;
            text-decoration: none;}}}

@media screen and (max-width: 760px) {
    header H1{
        font-size: 300%;}}

