$ancho-imagenes: 100%;
$fondo-amarillo:#F8C216;
$margen-top: 1%;
$margen-bottom: 1%;
$posicionamiento:(
    margen-top:10%,
    margen-bottom:5%,
    margen-left:20%,
    margen-right:5%,
)

